@mixin background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
