.div-skill {
  @include flex-center;
  flex-direction: column;

  transition: 0.5s;
  width: 7em;
  height: 7em;
  border: 1px solid rgba(136, 135, 135, 0.185);
  border-radius: 15%;
  padding: 10px;

  img {
    width: 95%;
  }

  &:hover {
    transform: scale(1.05);
  }
}
