.div-skill {
  @include flex-center;
  flex-direction: column;

  transition: 0.5s;
  width: 7em;
  height: 7em;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

  img {
    width: 95%;
  }

  &:hover {
    transform: scale(1.05);
  }
}
